$black: #2e3338;
$brown: #d39a71;
$white: #ffffff;
$yellow: #ffcf00;

//Fonts
.heavy-font {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.light-font {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 400;
  font-style: normal;
}

//Reusable styles
.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.black-text {
  color: $black;
}

//Non-reusable styles
.header {
  padding-top: 45px;
  font-size: 2em;
}

.divider {
  width: 30%;
  height: 6px;
  background-color: $yellow;
  margin: 0 auto;
  margin-top: 8px;
}

.converter-container {
  width: 280px;
  border-width: 1.4px;
  border-color: $black;
  margin: 10px;
  padding: 10px;
  border-style: solid;
}

.description {
  padding-top: 7px;
  padding-bottom: 14px;
  font-size: 1.3em;
}

.num-format {
  padding-top: 20px;
  font-size: 1em;
}

.place-holder {
  width: 100%;
  height: 30px;
  background-color: $white;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}
